body{
  background-color: #18453B;
  font-family: 'JetBrains';
}

.title h1{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
}
*/