.panel {
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    flex: 1;
}

.row {
  display: flex;
  width: 500px;
  gap: 15px;
  margin-bottom: 15px;
}
  
h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}

.data-row{
  display: flex; 
  justify-content: space-between;
  margin-bottom: 8px;
}

.green {
  color: #26FF00;
}
  
.red {
  color: #E35D5D;
}
  